
.nav-bar ul li{
    font-size: 1.5rem;
    &:hover{
        background-color:#a67e46
    }
}

.nav-bar ul li a{
    display:block;
    color:white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-bar .logo {
    margin-left: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: #3a4937;
    }
}

.nav-bar img{
    width: 50px;
    height: auto;
}
